<section class="container w-75">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div>
                <img src="./assets/imgs/Sign up-rafiki.svg" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <form (ngSubmit)="registerFunction()" [formGroup]="registerForm">
                    <div class="mb-4">
                        <label for="name">Name:</label>
                        <input #nameInput formControlName="name" class="form-control" type="text" placeholder="Enter your name">
                        <div *ngIf="registerForm.get('name')?.errors&&(registerForm.get('name')?.touched || nameInput.value.length>0)" class="alert alert-danger">
                            <p *ngIf="registerForm.get('name')?.errors?.['required']">Name is required</p>
                            <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Minimum characters length is 4</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="name">Email:</label>
                        <input #emailInput formControlName="email" class="form-control" type="text" placeholder="Enter your email">
                        <div *ngIf="registerForm.get('email')?.errors&&(registerForm.get('email')?.touched || emailInput.value.length>0)" class="alert alert-danger">
                            <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                            <p *ngIf="registerForm.get('email')?.errors?.['email']">Enter a valid email</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="name">Password:</label>
                        <input #passInput formControlName="password" class="form-control" type="text" placeholder="Enter your password">
                        <div *ngIf="registerForm.get('password')?.errors&&(registerForm.get('password')?.touched || passInput.value.length>0)" class="alert alert-danger">
                            <p *ngIf="registerForm.get('password')?.errors?.['required']">Name is required</p>
                            <p *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum password length is 6 </p>
                            <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must start with capital letter</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="name">Age:</label>
                        <input #ageInput formControlName="age" class="form-control" type="number"  placeholder="Enter your age">
                        <div *ngIf="registerForm.get('age')?.errors&&(registerForm.get('age')?.touched || ageInput.value.length>0)" class="alert alert-danger">
                            <p *ngIf="registerForm.get('age')?.errors?.['required']">Age is required</p>
                            <p *ngIf="registerForm.get('age')?.errors?.['pattern']">Enter correct age</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="name">Phone:</label>
                        <input #phoneInput formControlName="phone" class="form-control" type="text" placeholder="Enter your phone">
                        <div *ngIf="registerForm.get('phone')?.errors&&(registerForm.get('phone')?.touched || phoneInput.value.length>0)" class="alert alert-danger">
                            <p *ngIf="registerForm.get('phone')?.errors?.['required']">Phone is required</p>
                            <p *ngIf="registerForm.get('phone')?.errors?.['pattern']">Enter a valid phone number</p>
                        </div>
                    </div>
                    <p *ngIf="errMsg" class="alert alert-danger  fs-4">{{errMsg}}</p>
                    <button [disabled]="registerForm.invalid" type="submit" class="bg-main w-100"><span *ngIf="!isClicked">Sign Up</span> <i *ngIf="isClicked" class="fa fa-spin fa-spinner ms-1"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>