<nav #navBar class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
        <a class="navbar-brand" ><img class="logo" src="./assets/imgs/Inipagi-Job-Seeker-Notes.512.png" alt="">Take My Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a (click)="logOut()" class="nav-link cursor-pointer fw-bolder ms-auto text-center" >Log Out</a>
        </div>
    </div>
</nav>